/*GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');
  /*font-family: "Noto Sans", sans-serif;*/

/*VARIABLES*/

:root{

    --color-primary: #121212;
    --color-secondary: #1E1E1E;
    --color-accent: #C8A45D;
    --color-text: #F5F5F5;
    --color-text-secondary: #C7C7C7;

    --font-title: 'Playfair Display', serif;
    --font-text: 'Poppins', sans-serif;

}
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BODY*/

body{
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: var(--font-text);
    line-height: 1.6;
}

/*TIPOGRAFIA*/

h1{
    font-family: var(--font-title);
    font-size: 2.5rem;
    color: var(--color-accent);
    letter-spacing: 3px;
}

h2{
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--color-accent);
    margin-bottom: 20px;
  
}

p{
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-bottom: 15px;
}


/* HEADER*/

header{

    background-color: var(--color-secondary);
    text-align: center;
    border-bottom: 2px solid var(--color-accent);

}

header img{

    width: 180px;
    margin-top: 20px;

}

/* NAV*/

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 20px 40px;

}

nav ul{

    display: flex;
    list-style: none;
    gap: 30px;

}

nav li{

    display: inline;

}

nav a{

    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;

}

nav img{
    width: 120px;
}

/*MAIN*/

main{

    width: 80%;
    margin: 40px auto;
}

article{

    background-color: var(--color-secondary);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;

}

section{

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-secondary);
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;

}

section ul{

    margin-left: 30px;
    margin-top: 15px;

}

section li{

    margin-bottom: 12px;
    color: var(--color-text-secondary);

}


/*FOOTER*/


footer{

    background-color: var(--color-secondary);
    color: var(--color-text);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
}

